extends layout

block content
  h1 我的第一个 MongoDB 应用
  hr
  if(authenticated)
    p 欢迎回来,#{me.first}
    a(href="/logout") 退出登录
  else
    p 欢迎新访客!
  ul
    li
      a(href="/login") 登录
    li
      a(href="/signup") 注册
