extends layout
block content
    if(signupEmail)
        p 恭喜您注册成功！请在下面登录！
    form(action="/login",method="POST")
        fieldset
            legend 登录
            p
                label 邮箱
                input(name="user[email]",type="text",value=signupEmail)
            p
                label 密码
                input(name="user[password]",type="password")
            p
                button 提交
            p
                a(href="/") 首页
