extends layout
block content
    form(action="/signup/",method="post")
        fieldset
            legend 注册
            p
              label 姓
              input(name="user[first]",type="text")
            p
              label 名
              input(name="user[last]",type="text")
            p
              label 邮箱
              input(name="user[email]",type="text")
            p
              label 密码
              input(name="user[password]",type="text")
            p
              button 提交
            p
                a(href="/") 首页